<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC실습</title>
      <!-- axios cdn -->
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>axios post 로그인</h1>
    <form action="/login" name="login" method="post">
      <span>아이디</span>
      <input type="text" name="id">
      <span>비밀번호</span>
      <input type="text" name="passwd">
      <button type="button" onclick="clickLogin()">로그인</button>
    </form>
    <div class="res"></div>
</body>
<script>
const resBox = document.querySelector('.res');
async function clickLogin() {
    const form = document.forms['login'];
    const user = {
        id: form.id.value,
        passwd: form.passwd.value, 
    };
    try {
        const response = await axios({
            method: 'post',
            url: '/login',
            data: user,
        });
        const resData = response.data;

        for (let i = 0; i < resData.userid.length; i++){
            if (user.id == resData.userid[i] && user.passwd == resData.userpw[i]){
                resBox.innerHTML = `<div style="color:blue">${resData.username[i]}님! 로그인에 성공하셨습니다!</div>`;
                break ;
            } else {
            resBox.innerHTML = `<div style="color:red">로그인에 실패하셨습니다!</div>`;
            }
        };
    } catch (error) {
        resBox.innerHTML = `<div style="color:red">에러 발생</div>`;
        }   
}
</script>
</html>