body{
    margin: 0;
    padding: 0;
}

div{
    width: 100px;
    height: 100px;
    font-weight: 800px;
    text-align: center;
    line-height: 100px;
}
/* static:기본값
    -기본값이기 때문에 작성하지 않더라도 적용
    -inline 요소: 왼->오 쌓임
    -block 요소: 위->아래 쌓임
*/
.position-static{
    background-color: pink;
}

/* relative: 상대 위치
    일반적인 흐름에 따라 배치, top/bottom/left/right 중 하나 이상
    원래 있어야하는 위치 기준으로부터 이동
*/
.position-relative{
    background-color: aquamarine;
    position: relative;
    left: 100px;
}
/* absolute: 절대 위치
    누구를 기준? position속성을 갖는 제일 가까운 조상 기준
    position 속성을 갖는 조상이 없다면? body기준
    -> 특정 요소를 기준 삼아서 이동*/
.position-absolute{
    background-color: gold;
    position: absolute;
    right:50px;
}
/* fixed:고정 위치
    -viewport(브라우저의 화면 전체를 기준으로 특정 위치에 배치)
*/
.position-fixed{
    background-color: coral;
    position: fixed;
    top: 0px;
    right: 0px;
}
