.header{
    width: 100px;
    height: 100px;
    background-color: rgb(30, 144, 188);
    border-radius: 50%;
}
.eye-white{
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
    top: 20px;
    left: 10px;
}
.eye-black{
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: relative;
}

.body1{
    width: 100px;
    height: 100px;
    background-color: rgb(58, 124, 224);
    border-radius: 50%;
    position: relative;
    bottom: 50px;
    left: 60px;
}
.body2{
    width: 100px;
    height: 100px;
    background-color: rgb(33, 60, 182);
    border-radius: 50%;
    position: relative;
    bottom: 120px;
    left: 120px;
}
.body3{
    width: 100px;
    height: 100px;
    background-color: rgb(157, 170, 228);
    border-radius: 50%;
    position: relative;
    bottom: 200px;
    left: 180px;
}
.body4{
    width: 100px;
    height: 100px;
    background-color: rgb(14, 151, 185);
    border-radius: 50%;
    position: relative;
    bottom: 300px;
    left: 250px;
    z-index: 10;
}

.grass{
    width: 500px;
    height: 100px;
    position: fixed;
    top: 120px;
}