<!-- document title -->
<title><%= title%></title>

<!-- bootstrap cdn -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
  crossorigin="anonymous"
/>

<!-- common css -->
<!-- 미들웨어를 등록했기 때문에 static파일 루트 설정 가능한 상황 -->
<link rel="stylesheet" href="/public/css/index.css">
<!-- common js -->
<script src="/public/js/index.js"></script>