<header class="header">
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/logincomplete">LOGINCOMPLETE</a></li>
        <li><a href="/sessac">SESSAC</a></li>
    </ul>
</header>
