<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>파일 업로드</h1>

    <!-- multer는 multipart가 아닌 폼에서는 동작하지 않음! 따라서 enctype="multipart/form-data" 속성 필수 -->
    <h2>Single file upload</h2>
    <p>하나의 인풋에 하나의 파일을 업로드</p>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="userFile" /><br />
      <input type="text" name="title" /><br /><br />
      <button type="submit">업로드</button>
    </form>

    <h2>Multi file upload v1</h2>
    <p>하나의 인풋에 여러개의 파일을 업로드</p>
    <form action="/upload/array" method="POST" enctype="multipart/form-data">
      <!-- 하나의 인풋에 여러 파일을 입력받고 싶다면 multiple 속성을 추가 -->
      <input type="file" name="userFiles" multiple/><br />
      <input type="text" name="title" /><br /><br />
      <button type="submit">업로드</button>
    </form>

    <h2>Multi file upload v2</h2>
    <p>여러 인풋에 각각의 파일을 업로드</p>
    <form action="/upload/fields" method="POST" enctype="multipart/form-data">
      <input type="file" name="userFile1"/><br />
      <input type="text" name="title1" /><br />
      <input type="file" name="userFile2"/><br />
      <input type="text" name="title2" /><br /><br />
      <button type="submit">업로드</button>
    </form>

    <h2>동적 파일 업로드</h2>
    <input type="file" name="dynamicUserfile" id="dynamic-file"><br/>
    <button type="button" onclick="fileUpload()">업로드</button><br/>
    <!-- 업로드할 이미지를 보여줄 img 태그 요소 -->
    <img src="" alt="" width="200" />
    
    <script>
      function fileUpload() {
        console.log('동적파일 업로드');
        // formData() : 자바스크립트의 내장 메소드
        // js만으로 파일데이터를 서버로 전송해야하는 케이스 (폼 태그 없이!)
        // formData() 객체를 활용하면 쉽게 전송 가능!
        const formData = new FormData();
        const file = document.querySelector('#dynamic-file');
        // console.dir(file);
        // console.dir(file.files); // 업로드한 파일 객체
        // console.dir(file.files[0]); // 업로드한 첫 파일

        //FormData 메소드의 append(key, value) 메소드
        formData.append('dynamicUserfile', file.files[0]);
        axios({
          method: 'post',
          url: '/dynamicFile',
          data: formData,
          header: {
            'Content-Type': 'multipart/form-data' // enctype="multipart/form-data"
          },
        })
        .then ((res) => {
          console.log('res 입니다.')
          const {data} = res;
          console.log(data);
          document.querySelector('img').src = '/' + data.path;
        });
      };
    </script>
  </body>
</html>