<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>api 실습 해보자!</h1>
    <img src="" alt="" class="weather" onclick="changeWeather();">
</body>
<script>
    const img = document.querySelector('#weather');
    async function changeWeather() {
        const res = await axios({
            method: 'get',
            
        })
    }
</script>
</html>