<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>폼</title>
</head>
<body>
    <h1><%= title %></h1>
    <h4>GET 요청</h4>
    <form action="/getForm" method="get">
        <input type="text" name="id" id="" placeholder="ID">
        <input type="text" name="pw" id="" placeholder="PW">
        <button>제출</button>
    </form>
    
    <h4>POST 요청</h4>
    <form action="/postForm" method="post">
        <input type="text" name="id" id="" placeholder="ID">
        <input type="password" name="pw" id="" placeholder="PW">
        <button>제출</button>
    </form>
</body>
</html>

