<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입페이지</title>
</head>
<body>
    <h3>회원가입 시작</h3>
     <br/>
     <span>이름: </span>
     <input type="text">
     <br/>
     <span>생년월일: </span>
     <input type="text">
     <br/>
     <span>사용할 아이디: </span>
     <input type="text">
     <br/>
     <span>사용할 비밀번호: </span>
     <input type="text">
     <br/>
     <button>회원가입 완료</button>
</body>
</html>