<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./includes/head', {title: '로그인 성공'})%>
</head>
<body>
    <h3>로그인 성공 페이지</h3>
</body>
</html>