body{
    display: flex;
}
div {
    background-color: black;
    width: 200px;
    height: 200px;
}
.box {
    margin-left: 20px;
    border-radius: 10px;
    border: 1.5px solid red;
}
@media (max-width: 700px) {
    body {
        flex-direction: column;
    }
    div {
        background-color: skyblue;
    }
}